# Keil 编译产物
OBJ/
Listings/
Objects/
*.o
*.axf
*.hex
*.bin
*.lst
*.map
*.d
*.lnp
*.htm
*.dep
*.crf
*.elf
*.sct
*.log

# Keil 用户/调试配置（每台电脑不同）
*.uvguix.*
*.uvoptx
DebugConfig/
JLinkSettings.ini

# 备份与临时文件
*.bak
*.bak_*
*~
*.TMP
